.selector-for-some-widget {
    box-sizing: content-box;
  }

.topnav {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 40px;
}

.casestudynav {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
  
}

.jumbotron {
    font-family: 'Roboto', sans-serif;
   
}

.btn {
    background-color:  f7f7f7;
    border: none;
}


.team {
    font-family: 'Roboto', sans-serif;
    line-height: .5;
  }

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
.list-group {
    margin-left: 10px;
}

.accordion {
    padding: 30px;

}
.card-body {
    font-family: 'Roboto', sans-serif;
}


.media {

    font-family: 'Roboto', sans-serif;
   
}
img[src="images/Shelterhero.png"] {
    display: inline;
    width: 100%;
   
}


img[src="images/Business.png"] {
    display: inline;
    width: 100%;
  
}

img[src="images/Veteran.png"] {
    display: inline;
    width: 100%;
    
}

br {
    line-height: 1;
}

.card-body {
    line-height: 1.5;
}

.casestudynav {
    margin-left: 40px;
    width: 100%;
    
}
img[src="images/Color.png"] {
    display: inline;
    max-width: 1000px;
   
}
img[src="images/styletile.png"] {
    display: inline;
    max-width: 1000px;
    
}

img[src="images/applyleft.png"] {
    width: 100%;
    
}
img[src="images/applyright.png"] {
    width: 100%;
    
}

.container {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.display-4 {
    margin-left: 30px;
}

.lead {
    margin-left: 30px;
}

img[src="images/Homepage.png"] {
    display: inline;
    max-width: 100%;
   
}

img[src="images/iterations.png"] {
    display: inline;
    max-width: 100%;
   
}

#carouselExampleControls {
    height: 400px;
    width: 100%;
}

img[src="images/solved.png"] {
    display: inline;
    max-width: 100%;
   
}





  